extends layout
block css
    link(rel='stylesheet', href='/stylesheets/user.css')
block menu
    .vernav.iconmenu
        ul
            li
                a.newuser 添加用户
            li
                a.showuserlist 用户列表
        a.togglemenu
block centercontent
    .centercontent
        - if(page.index)
            h1 dashbord
        - else if(page.userlist)
            .userlist
                .contenttitle
                    h3 用户列表
                .tableoptions
                    button.del 删除
                    button.update 更新
                table(class="usertable")
                    colgroup
                        col.con1(style="width: 4%;")
                        col.con0
                        col.con1
                        col.con0
                        col.con1
                        col.con0
                    thead
                        tr
                            th
                                input(type="checkbox", class="checkall")
                            th 用户名
                            th 姓名
                            th 邮箱
                            th 创建时间
                            th 角色
                            th 状态
                    tbody
                        - if (users)
                            each item in users
                                tr
                                    td
                                        input(type="checkbox", class="check", value=item._id)
                                    td= item.uid
                                    td= item.name
                                    td= item.email
                                    td #{moment(item.meta.createAt).format('YYYY-MM-DD')}
                                    td.edit
                                        - if (item.level > 10)
                                            | 管理员
                                        - else
                                            | 普通用户
                                    td.edit
                                        - if (item.status === 0)
                                            | 未启用
                                        - else
                                            | 已启动
        - else
            .adduser
                form(method="post")
                    .contenttitle
                        h3 新增用户
                    p
                        label 用户名
                        span.field
                            input.longinput(name="uid")
                    p
                        label 姓名
                        span.field
                            input.longinput(name="name")
                    p
                        label 邮箱
                        span.field
                            input.longinput(name="email", type="email")
                    p
                        label 角色
                        span.field
                            select(name="level", style="width: 350px; height: 30px;")
                                option(value="10") 普通用户
                                option(value="20") 管理员
                    p
                        label 状态
                        span.field
                            select(name="status", style="width: 350px; height: 30px;")
                                option(value="0") 未启用
                                option(value="1") 已启用
                    .submitButton
                        a(class="save") 保存
    script(src="../javascripts/user.js")